@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --chart-cursor: #f1f5f9;
  }
  .dark {
    --chart-cursor: #334155;
  }
}
@theme{
  --font-roboto:"Roboto",sans-serif;
  --color-primary: #2563EB;
  --color-success: #22C55E;
  --color-warning: #F59E0B;
  --color-danger: #EF4444;
  --color-background: #F8FAFC;
  --color-card: #FFFFFF;
  --color-text-dark: #0F172A;
  --color-text-gray: #64748B;
}

body {
  @apply bg-gray-50 text-gray-900 transition-colors duration-200;
}
.dark body {
  @apply bg-gray-900 text-white;
}